* {
  box-sizing: border-box;
}
 
html {
  color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 14px;
}

a {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

h2, h3 {
  margin: 4px 0;
}

button {
  cursor: pointer;
}

.hexa {
  width: var(--hexa-width);
  height: var(--hexa-height);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.action-container {
  margin-top: 50px;
}