header {
    background-color: #323232;
    text-align: center;
    font-size: rem(12px);
    color: #fff;
    text-transform: uppercase;
    
    .main-nav {
        margin: 0 auto;
        max-width: 370px;
        min-width: 300px;
        // position: relative;
    }
    .header-logo {
        height: 100%;
        &::after {
            content: "";
            position: relative;
            top: 26px;
            display: block;
            // margin: auto;
            border-top: 26px solid #323232;
            border-right: 45px solid transparent;
            border-left: 45px solid transparent;
            background-color: white;
        }
    }
}