header {
    background-color: var(--secondary-color);
    padding-top: 12px;
    margin-bottom: 50px;
    text-align: center;
    font-size: rem(10px);
    color: #fff;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: bold;
    transition: font-size .4s;
    a {
        transition: color .3s;
        &:hover {
            color: var(--main-color);
        } 
    }
    .main-nav {
        position: relative;
        margin: 0 auto;
        max-width: 800px;
        min-width: 300px;
        padding: 0 20px;
    }
    .right, .left {
        width: 40%;
    }
    .left {
        justify-content: flex-end;
    }
    .fixed-menu {
        flex-direction: column;
        li {
            margin-right: 15px;
            padding: .5em;
        }
    } 
    .changing-menu {
        flex-direction: column;
        li {
            margin-left: 15px;
        }
    }
    .header-logo {
        height: 100%;
        // margin: auto;
        // position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            right: calc(50% - 45px);
            z-index: -1;
            display: block;
            border-top: 26px solid var(--secondary-color);
            border-right: 45px solid transparent;
            border-left: 45px solid transparent;
            background-color: white;
        }
    }
    input {
        background-color: #3c3b3b;
        border: 2px inset #6b6262;
        padding: .5em;
        color: #c9c9c9;
        outline: none;
    }
    button {
        padding: -5em;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        color: white;
        text-transform: uppercase;
        border: none;
        transition: color .3s;
        &:hover {
            color: var(--main-color);
        }
    }
}


@media (min-width: $mobile-breakpoint) {
    header {
        font-size: 12px;
        .changing-menu, .fixed-menu {
            flex-direction: row;
        }
    }
}