.img-select {
    // position: relative;
    margin: auto;
    // width: calc(100vw - 40px);
    width: fit-content;
    min-width: 200px;
    margin-bottom: 20px;
    .row {
        position: relative;
        &:nth-of-type(odd) {
            padding-left: calc((var(--hexa-width) / 2) + 5px);
            &:only-of-type {
                padding-left: 0;
            }
        }
    }
    .meme-img {
        position: relative;
        // width: 180px; for media query
        // height: 206px;
        // width: var(--hexa-width);
        // height: var(--hexa-height);
        // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        margin: 0 5px;
        overflow: hidden;
        & img {
            position: absolute;
            // height: 100%;
            height: calc(var(--hexa-height) * 1.1);
            // right: calc(50% - 75px); TODO: set in the rendering function according to img width
            cursor: pointer;
        }
    }
}


@media (min-width: $mobile-breakpoint) {
    .img-select {
        .row:nth-of-type(odd) {
             padding-left: calc((var(--hexa-width) / 2) + 10px);
        }
        .meme-img {
            margin: 0 10px;
        }
    }
}