.meme-generator {
    padding-bottom: 50px;
    width: calc(100% - 20px);
    margin: auto;
    text-align: center;

    .canvas-container {
        width: fit-content;
        margin: auto;
    }

    canvas {
        border: 1px solid hotpink;
        max-width: 100%;
    }   
}

