
/*----------  Lato Font  ----------*/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/Lato-Regular.ttf'); 
}


/*----------  Ubunto Font  ----------*/

@font-face {
  font-family: 'Ubunto';
  src: url('../assets/fonts/ubunto/Ubuntu-Light.ttf');
  font-weight: 400;
}

