
/*----------  Lato Font  ----------*/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/Lato-Regular.ttf'); 
}


/*----------  Ubunto Font  ----------*/

@font-face {
  font-family: 'MavenPro';
  src: url('../assets/fonts/maven_pro/MavenPro-Regular.ttf');
  font-weight: 400;
}

