$container-width: 1063px;
$mobile-breakpoint: 600px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 820px;
  /* Fonts */
  --primary-font: Lato;
  --secondary-font: MavenPro;
  /* Colors */
  --main-color: #2eb398;
  --secondary-color: #323232;
  /* Hexagon */
  --hexa-width: 90px;
  --hexa-height: 103px;
}

@media (min-width: $mobile-breakpoint) {
  :root {
    --hexa-width: 180px;
    --hexa-height: 206px;
  }
}