$container-width: 1063px;
$mobile-breakpoint: 642px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 820px;
  /* Fonts */
  --primary-font: Lato;
  --secondary-font: MavenPro;
  /* Colors */
  --main-color: #626262;
  --sections-bg: #f0f0f0;
}


